@font-face {
    font-family: titleFont;
    src: url(Lobster-Regular.ttf);
  }


html {
    background-color: darkslategray;
}
  
.layout {
    margin: auto;
    width: 50%;
    height: 50%;
    border: 3px solid green;
    border-radius: 15px;
    padding: 10px;
    background-color: lightslategray;
}

.pizzaNav {
    border: 3px solid green;
    border-radius: 15px;
    padding: 10px;
    background-color: white;
    h1{
        font-family: 'Dancing Script', cursive;
        font-size: 250%;
        margin-left: 35%;
    }
}

.pizzaAndPrice {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    border: 3px solid green;
    border-radius: 15px;
    padding: 2%;
    margin: 2%;
    background-color: white;
}

.pizzaOptions {
    border: 3px solid green;
    border-radius: 15px;
    padding: 10px;
    background-color: white;
    h1{
        font-family: 'Dancing Script', cursive;
    }
}


.pricearea {
    font-size: 140%;
    color: black;
    padding: 10px;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-between;
}

.orderbutton {
    margin: 2%;
    height: 40px;
    color: white;
    font-weight: bold;
    background-color: red;
    border: 3px solid black;
    border-radius: 18px;
    font-family: 'Times New Roman';
}

.AddToOrderWidget {
    border: 1px solid gray;
    width: 35%;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-self: center;
    padding: 1%;
    height: 100%;
}

.pizzadisplay {
    margin: 4%;
}

.specialSign {
    background-color: darkgreen;
    padding: 2%;
    border: 2px solid black;
    border-bottom: 0px solid black;
    color: white;
    font-weight: bolder;
}