.layout {
    margin: auto;
    width: 50%;
    height: 50%;
    border: 3px solid green;
    border-radius: 15px;
    padding: 10px;
    background-color: lightslategray;
}

.pizzaNav {
    border: 3px solid green;
    border-radius: 15px;
    padding: 10px;
    background-color: white;
    display: flex;
}

.pizzaAndPrice {

    border: 3px solid green;
    border-radius: 15px;
    padding: 10px;
    background-color: white;
}

.pizzaOptions {

    border: 3px solid green;
    border-radius: 15px;
    padding: 10px;
    background-color: white;
    

}



