Shows pizza as changes are made
10 different topping options that can be put on pizza halves or the entire pizza easily
Five 'pre-built' pizza options should be visible and will automatically set the pizza settings for these pizzas when clicked
